{
  "exampleenv": {
    "WORKSPACE_URL": "https://adb-{workspace_id}.{integer}.azuredatabricks.net",
  },
  "prod": {
    "WORKSPACE_URL": "https://adb-{workspace_id}.{integer}.azuredatabricks.net",
  }
}
