{
  "int": {
    "WORKSPACE_URL": "https://adb-{workspace_id}.{int}.azuredatabricks.net",
    "WORKSPACE_ID": "{workspace_id}"
  },
  "prod": {
    "WORKSPACE_URL": "https://adb-{workspace_id}.{int}.azuredatabricks.net",
    "WORKSPACE_ID": "{workspace_id}"
  }
}
